# Dependencies
node_modules/

# Images/Storage
backend/storage/gifs/*
backend/storage/thumbnails/*
!backend/storage/gifs/.gitkeep
backend/storage/thumbnails/.gitkeep

# Database files
*.sqlite
*.sqlite3
*.db
backend/*.db
backend/*.sqlite

# Environment variables
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
!frontend/.env.example

# Build outputs
dist/

# Logs
*.log
npm-debug.log*
